{{ $color := .Get "color" | default "white" -}}
{{ $image := .Get "image" -}}
{{ if strings.HasPrefix $image "/" }}{{ $image = (strings.TrimPrefix "/" $image) | relURL }}{{ end -}}  {{/* subpath-aware: see layouts/_markup/render-image.html for why */}}
{{ $imageAlt := .Get "imageAlt" -}}

<section class="row td-box td-box--{{ $color }} intro-section">
  <div class="col-12">
    <div class="container">
      <div class="intro-content">
        <div class="intro-text">
          {{ .Inner -}}
        </div>
        {{ with $image -}}
        <div class="intro-image">
          <img src="{{ . }}" alt="{{ $imageAlt }}" class="img-fluid">
        </div>
        {{ end -}}
      </div>
    </div>
  </div>
</section>
